<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Agregar pedido
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Producto</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-input inputmode="date"></ion-input>
    </ion-item>
    <ion-button expand="full" color="dark">
        <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
</ion-content>