<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Cosmetics
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
            <ion-label>ROSTRO</ion-label>
            <img src="../../assets/image/base.jpg">
        </ion-item>
        <ion-item>
            <ion-label>OJOS</ion-label>
            <img src="../../assets/image/ojos.jpg">
        </ion-item>
        <ion-item>
            <ion-label>LABIOS</ion-label>
            <img src="../../assets/image/labios.jpg">
        </ion-item>
        <ion-item>
            <ion-label>BROCHAS & APLICADORES</ion-label>
            <img src="../../assets/image/brochas.jpg">
        </ion-item>
        <ion-item>
            <ion-label>PALETAS</ion-label>
            <img src="../../assets/image/paletas.jpg">
        </ion-item>
    </ion-list>


</ion-content>