<ion-content>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <div class="container-md">
        <!-- <img src="../../assets/image/usua.png"> -->

        <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-input type=" text " placeholder="UserName " [(ngModel)]="email "></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="Password" placeholder="Password " [(ngModel)]="password "></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="validar()" shape="round" size="default" fill="solid" color="dark" expand="block">SIGN IN</ion-button>
    </div>
</ion-content>